<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>


<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('../partials/sidebar'); %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminNavBar'); %>
            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-md-10">
                        <div class="bg-secondary rounded h-100 p-4 text-center">
                            <h6 class="mb-4">Add New Banner</h6>
                            <form action="/admin/add-banner" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="highlight" class="form-label">Banner Name</label>
                                    <input type="text" class="form-control" id="highlight" name="highlight"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="coupon" name="couponName"
                                        aria-label="Floating label select example" required>
                                        <% for(let coupon of coupons){ %>
                                        <option value="<%= coupon.couponName %>"><%= coupon.couponName %></option>
                                        <% } %>
                                    </select>

                                    <label for="category">Coupon</label>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label">Add Banner Image</label>
                                    <input class="form-control form-control-sm bg-dark" id="image" name="image"
                                        type="file" multiple>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="description"
                                        name="description" style="height: 150px;"></textarea>
                                    <label for="description">Description</label>
                                </div>
                                <div class="mb-3">
                                    <label for="expiresAt" class="form-label">Validation Period(days):</label>
                                    <input type="text" class="form-control" id="expiresAt" name="expiresAt"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mt-3 text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Form End -->


            <!-- Footer Start -->

            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <%- include('../partials/libraries') %>
</body>

</html>