<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->

        <!-- Sidebar End -->
        <%- include('../partials/sidebar'); %>

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminNavBar'); %>
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-md-10">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4 text-center">Brands</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Banner Text</th>
                                        <th scope="col"> Coupon</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Actions</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <% let number=1; for(let banner of banners){ %>
                                    <tr>
                                        <!-- <th scope="row">1</th> -->
                                        <td><%= number %></td>
                                        <td>
                                            <% for(let img of banner.image){ %>
                                            <img src="<%= img.url %>" alt="brand.jpg" style="width:85px;height:60px;">
                                            <% } %>
                                        </td>
                                        <td><%= banner.highlight %></td>
                                        <td><%= banner.couponName %></td>
                                        <td><%= banner.description %></td>
                                        <td>
                                            <div>
                                                <a href="/admin/editbanner/<%= banner._id %>"><button
                                                        class="btn btn-success">Edit</button></a>
                                                <!-- <a href="/admin/deletebanner/<%= banner._id %>"> -->
                                                <button class="btn btn-danger"
                                                    onclick="return confirmDelete('<%= banner._id %>')">Delete</button>
                                                <!-- </a> -->
                                            </div>
                                        </td>
                                    </tr>
                                    <% number++;} %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Table End -->


            <!-- Footer Start -->

            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <%- include('../partials/libraries') %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function confirmDelete(bannerid) {
            swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",

                        });
                        window.location.href = `/admin/deletebanner/${bannerid}`
                    } else {
                        swal("Your imaginary file is safe!");
                        return false
                    }
                });

        }
    </script>
</body>

</html>