<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('../partials/sidebar'); %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminNavBar'); %>
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-md-10">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4 text-center">Coupons</h6>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col">N0.</th> -->
                                        <th scope="col">Coupon Name</th>
                                        <th scope="col">Discount %</th>
                                        <th scope="col">Maximum Limit</th>
                                        <th scope="col">Actions</th>
                                        <!-- <th scope="col">Email</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let coup of coupons){ %>
                                    <tr>
                                        <!-- <th scope="row">1</th> -->
                                        <td><%= coup.couponName%></td>
                                        <td><%= coup.discount%></td>
                                        <td><%= coup.maxLimit %></td>
                                        <td>
                                            <div>
                                                <a href="/admin/editcoupon/<%= coup._id %>"><button
                                                        class="btn btn-success">Edit</button></a>
                                                <a href="/admin/deletecoupon/<%= coup._id %>"><button
                                                        class="btn btn-danger"
                                                        onclick="return confirm('Do you want to delete <%= coup.couponName%>?')">Delete</button></a>
                                            </div>
                                        </td>
                                        <!-- <td>jhon@email.com</td> -->
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Table End -->


            <!-- Footer Start -->

            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <%- include('../partials/libraries') %>
</body>

</html>